CREATE OR REPLACE FUNCTION get_active_hunts_with_island()
RETURNS TABLE(hunt_id text, hunt_name text, twitch_id bigint, current_island bigint)
LANGUAGE sql
AS \$\$
SELECT h.hunt_id, h.hunt_name, h.twitch_id, COALESCE(MAX(e.island_number), 1)::bigint as current_island
FROM hunts h
LEFT JOIN encounters e ON h.hunt_id = e.hunt_id
WHERE h.hunt_status = 'ACTIVE'
GROUP BY h.hunt_id, h.hunt_name, h.twitch_id;
\$\$; 
